name: Run Build Tests
on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - dev
      - master
  workflow_dispatch:

jobs:
  install:
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.9, "3.10", "3.11"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Build Tools
        run: |
          python -m pip install build wheel
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt install python3-dev swig libssl-dev libasound2-dev libpulse-dev portaudio19-dev
      - name: Build Distribution Packages
        run: |
          python setup.py bdist_wheel
      - name: Install package
        run: |
          pip install .[extras,linux,onnx]
